.signup input{
    border: none;
    background-color: ghostwhite;
    color: gray;
    border-radius: 5px;
    outline-color: #f91944;
    
}

.signup input:focus{
    box-shadow: 0 0 3pt 2pt #f91944;
    border: none;
}