
.item-btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    margin: 50px 20px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
  }

  .item-btn:focus {
    box-shadow: none !important;
    outline: none !important; 
  }
  

.active, .item-btn:hover {
    color: #f91944;
    border-bottom: 3px solid #f91944;
}


