.item-menu{
    
}
.item-menu button{
    margin: 50px 20px;
    border:none;
    background-color: white;
    font-weight: 600;
    font-size: 20px;

    
}
.active-btn-dinner , .active-btn-lunch, .active-btn-breakfast{
    color: #f91944;
    border-bottom: 2px solid  #f91944;
}
