.cart-container{
    background-color: ghostwhite;
    border-radius: 12px;
    border: none;
}
.cart-container .plus-btn{
    border: none;
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    font-size: 8pt;
}
.cart-container input{
    padding: 0;
    border: none;
    border-radius: 50px !important;
    font-weight: 700;
    font-size: 8pt;
   }

   .cart-container input:disabled{
    background-color: white;
   }