.round-button{
    background-color: #f91944;
    color: white;
    border-radius: 40px;
    padding: 7px 20px;
    
    text-align: center;
}

.nav-link a{
    text-align: center;
    color: black !important;
    margin-left: 20px;
    font-weight: 600;
}

.search-container{

    width: 100%;
    text-align: center;
    background-image: url("../../images/bannerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 155px 0px;
    background-color: #fcf4e0;

}
.search-container h1{
    margin-bottom: 30px;
}
.search-container input{
    border: none;
    margin: 0;
    padding-right: 80px;
}
.search-container button{
    border: none;
    margin-left: 0;
}

.search-container span{
    padding: 8px 0px;
    background-color: white;
    border-radius: 40px;
    padding-left: 20px;
}


